<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      >Ontario
      <img
        width="200"
        src="../../assets/image-webapp-gridwatch-logo@2x.png"
        alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor02"
      aria-controls="navbarColor02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a (click)="downloadCsv()" class="csv-button">
      <img width="50" src="../../assets/csv-logo.png" alt="" href="http://localhost:8092/api/ontario-energy/export" />
    </a>
    <div class="nav-watch">
      <h4>{{ currentDate | date : "dd MMM YYYY hh:mm:ss a" }}</h4>
    </div>
  </div>
</nav>
